{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-left">
        <h1 class="mt-5">Filmoteka: biblioteka najlepszych filmów</h1>
        <p class="lead">Znajdziesz tutaj tylko sprawdzone tytuły (ocena IMDB powyżej 7)</p>
    </div>
    <div style="margin-bottom: 5px;">
        <form style="float: right;">
        <select class="custom-select" id="inputGroupSelect03">
          <option value="1">8 na stronie</option>
          <option value="2" selected>16 na stronie</option>
          <option value="3">24 na stronie</option>
        </select>
        </form>
    </div>
    {% for movies in range(16) %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="http://placehold.it/300x300" alt="">
            <div class="card-body">
                <h4 class="card-title">Film {{ movies + 1 }}</h4>
                <p class="card-text">opis filmu zawierający około 100 znaków, zajawka prezentująca film, zachęcająca do wejścia w szczegóły</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#" class="btn btn-dark">Pokaż więcej</a>
                    </div>
                    <small class="text-muted">Ocena: 9.0</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>

{% endblock %}